h2 But, why are you trying to make money from us? I’m already showing my support by being an user of the app!

p Since the beginning, we have been a free app, providing a solution to solve our own problem as much as yours. 


p This was our thought process: Build a great app → attract a lot of users → get investment to grow the app further → grow more users → think about how to turn this into a money-making business later. Although we’ve been focused on that process and growing a great community, we’ve realized that we need to shift our mentality and bring in some revenue.


p Running an app of our size, of course, is not free. It costs over €150,000 a year just to maintain. But we’re lucky to have had some ‘true believer’ early investors, who believe in the concept, and have been supporting our maintenance and growth to date. 


p And we’ve recently met with, and have interest from, some of the best investors in the world… we’ve built a really interesting platform, but we aren’t quite there yet for them to invest. If we can keep developing the app and growing the community, we’ll get there (or otherwise get to the point of generating enough revenue to be self sustaining). There’s also a bit of a chicken and egg problem with investors: some want to see that some users value the app enough to be willing to pay for it.


p We’ve grown to almost 200k users globally (without spending on marketing), many of whom tell us everyday how much they love the app. We’ve heard amazing stories from our community about epic nights out, and great connections that have been forged, through our app. We love that! And we want to keep creating those sort of experiences for many more people around the world!


p We got into and went through Techstars (harder to get into than Harvard), have worked with big brands like Budweiser, Time Out & Thrillist & have interest from many more. 


p The potential is huge and... we want to realise that potential! With Champions’ support we can get the platform to the next level (and get there faster).


p We don’t pay ourselves much (most investors we meet are shocked at how low our ‘burn rate’ is and how long we’ve been able to go without a lot of investment). We’re a hard-working team of hustlers who are dedicated to our mission of connecting the world in a more authentic and fun way.


p If you believe in us and our mission and want to see us succeed (and in turn create an even more useful app for yourself) - become a Champion! Help us prove that our app is providing real value to people’s lives and help the app reach the next level.
