extends layout

block content
  #logo
    #logo-retina 
      img(src="/assets/images/logo.png")
  .container
    .columns
      .column.is-12.has-text-centered
        h1.title.is-2.is-hero-text(style="margin: 2rem auto") Become in Investor instead
  .container 
    .columns.is-centered
      .column.is-8
        .box.content
          .videoWrapper
            iframe(src='https://www.youtube.com/embed/RDNEC_K7mW8', width='640', height='480', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

              <iframe width="560" height="315" src="https://www.youtube.com/embed/RDNEC_K7mW8" frameborder="0" allowfullscreen></iframe>
          
          hr

          .columns.is-centered.as-seen-in
            .column
              img(src="/assets/images/techcrunch.png")
            .column
              img(src="/assets/images/inc.png")
            .column
              img(src="/assets/images/producthunt.png")
            .column
              img(src="/assets/images/techstars.png")