extends layout

block content
  
  #logo
    #logo-retina 
      img(src="https://cdn.glitch.com/b2a03dab-a7cf-4d7e-b681-64f1ed6953ee%2Flogo.png?1509531112854")
  #container
    #header
      #header-info(style="width:100%; max-width: 100%; text-align:center;") Thanks, your support means a lot!
    
    #body
      #form-fields
        p(style="text-align: center;") Check your email for more info, Patron!
        
        p
          a(href=`/order/${paymentId}`) View your order